[user]
	name = Tim Kelty
	email = tim@craftcms.com

[include]
  path = ~/.gitconfig.secrets

[core]
	excludesfile = /Users/timkelty/.gitignore_global
	whitespace = space-before-tab, trailing-space
	quotepath = false

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[tag]
	sort = -version:refname

[rebase]
	autoStash = true

[pull]
	rebase = true

[push]
	default = current
	followTags = true

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  sm = submodule
  smu = submodule update --init
	cb = create-branch

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[commit]
	gpgsign = true
	template = /Users/timkelty/.stCommitMsg
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[init]
	defaultBranch = main
[remote "origin"]
	tagopt = --tags
