add_newline = true

# git stuff times out sometimes without this
command_timeout = 1000

format = """
$line_break\
$username\
$hostname\
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$memory_usage\
$env_var\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$shell\
$character"""

right_format = """
$aws"""

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"

[directory]
truncation_length = 8
truncation_symbol = "…/"
truncate_to_repo = false
style = "blue"

[git_branch]
format = "[$remote_name/$branch]($style) "
style = "bright-black"
always_show_remote = true

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\)'
style = "bright-black"

[git_commit]
tag_disabled = false
only_detached = false
format = '[\($hash$tag\)]($style)'
tag_symbol = ", tag: "
style = "bright-black"


[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[aws]
format = '[($profile )(\($region\) )(\[$duration\])]($style)'
style = "yellow"

[custom.git_remote]
description = "Display git remote URL"
command = "git ls-remote --get-url"
when = "git rev-parse --is-inside-work-tree"
style = "bright-black"